@font-face {
  font-family: "MissedGyuwon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2510-1@1.0/Griun_Gyuwon-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-display: swap;
}
